{
  "openapi": "3.0.1",
  "info": {
    "title": "NodeJS-IoT",
    "description": "NodeJS reference application",
    "version": "0.1"
  },
  "servers": [
    {
      "url": "http://local.fuelathome.com:3080"
    }
  ],
  "paths": {
    "/api/productlines": {
      "get": {
        "description": "Get a list of all Product Lines",
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "servers": [
          {
            "url": "http://local.fuelathome.com:3080"
          }
        ]
      },
      "servers": [
        {
          "url": "http://local.fuelathome.com:3080"
        }
      ]
    },
    "/api/vendors": {
      "get": {
        "description": "Auto generated using Swagger Inspector",
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "http://local.fuelathome.com:3080"
          }
        ]
      },
      "servers": [
        {
          "url": "http://local.fuelathome.com:3080"
        }
      ]
    },
    "/api/payments": {
      "get": {
        "description": "Auto generated using Swagger Inspector",
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "servers": [
          {
            "url": "http://local.fuelathome.com:3080"
          }
        ]
      },
      "servers": [
        {
          "url": "http://local.fuelathome.com:3080"
        }
      ]
    },
    "/api/orders": {
      "get": {
        "description": "Auto generated using Swagger Inspector",
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "servers": [
          {
            "url": "http://local.fuelathome.com:3080"
          }
        ]
      },
      "servers": [
        {
          "url": "http://local.fuelathome.com:3080"
        }
      ]
    },
    "/api/employees": {
      "get": {
        "description": "Auto generated using Swagger Inspector",
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "servers": [
          {
            "url": "http://local.fuelathome.com:3080"
          }
        ]
      },
      "servers": [
        {
          "url": "http://local.fuelathome.com:3080"
        }
      ]
    },
    "/api/customers": {
      "get": {
        "description": "Auto generated using Swagger Inspector",
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "servers": [
          {
            "url": "http://local.fuelathome.com:3080"
          }
        ]
      },
      "servers": [
        {
          "url": "http://local.fuelathome.com:3080"
        }
      ]
    },
    "/api/offices": {
      "get": {
        "description": "Auto generated using Swagger Inspector",
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "servers": [
          {
            "url": "http://local.fuelathome.com:3080"
          }
        ]
      },
      "servers": [
        {
          "url": "http://local.fuelathome.com:3080"
        }
      ]
    },
    "/api/products": {
      "get": {
        "description": "Auto generated using Swagger Inspector",
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "servers": [
          {
            "url": "http://local.fuelathome.com:3080"
          }
        ]
      },
      "servers": [
        {
          "url": "http://local.fuelathome.com:3080"
        }
      ]
    }
  },
  "components": {}
}