extends layout

block content
  h2= title
  h4 Fuel@HOME - NodeJS Reference Application
  p v1.0.0.10
  div.row
    div.column
      img(src='/images/dm-logo-large.jpg' alt="DesignMind Business Solutions")
    div.column
