extends layout

block content
  h1= title

  div
    table
      thead
        th Customer #
        th(align='center') Customer Name
      tbody
        each customer, i in customers
          tr
            td(align='center')
              a(href=customer.href) #{customer.customerNumber}
            td
              span #{customer.customerName}