extends layout-admin

block content
  h3= title

  div
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      thead
        th Customer #
        th(align='center') Customer Name
      tbody
        each customer, i in customers
          tr
            td(align='center')
              a(href=customer.href) #{customer.customerNumber}
            td
              span #{customer.customerName}
