extends layout

block content
  h1= title

  div
    table
      thead
        th Customer #
        th(align='center') Customer Name
      tbody
        each row, i in rows
          tr
            td(align='center')
              a(href=row.href) #{row.customerNumber}
            td
              span #{row.customerName}