header.mdl-layout__header
  .mdl-layout__header-row
    // Title
    span.mdl-layout-title
      | Fuel@HOME
    // Add spacer, to align navigation to the right
    .mdl-layout-spacer
    // Navigation. We hide it in small screens.
    nav.mdl-navigation.mdl-layout--large-screen-only
      if user != null
        span #{user.username}
      a.mdl-navigation__link.mdl-typography--text-uppercase(href='/')
        i.material-icons.md-light
          | home &nbsp;
        | Home
      a.mdl-navigation__link.mdl-typography--text-uppercase(href='/about')
        i.material-icons.md-light
          | help &nbsp;
        | About
      if user != null
        a.mdl-navigation__link.mdl-typography--text-uppercase(href='/logout')
          i.material-icons.md-light
            | account_box &nbsp;
          | Logout
      else
        a.mdl-navigation__link.mdl-typography--text-uppercase(href='/login') Login

.mdl-layout__drawer
  span.mdl-layout-title
      | Fuel@HOME
  nav.mdl-navigation
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/')
      i.material-icons.md-light
        | home &nbsp;
      | Home
    a.mdl-navigation__link.mdl-typography--text-uppercase(href='/about')
      i.material-icons.md-light
        | help &nbsp;
      | About
