extends layout

block content
  h1
    =title
    img(src='./images/Fuel-Pump-small.jpg')
  h5 NodeJS Reference Application
  p v1.0.0.8
  div.row
    div.column
      h3 HTML
      h4
        ul
          li
            a(href='/productlines') Product Lines
          li
            a(href='/products') Products
          li
            a(href='/customers') Customers
          li
            a(href='/orders') Orders
            h5
              ul
                li
                  a(href='/orders/status/In Process') In Process
                  | &nbsp; / &nbsp;
                  a(href='/orders/status/On Hold') On Hold
                li
                  a(href='/orders/status/Disputed') Disputed
                  | &nbsp; / &nbsp;
                  a(href='/orders/status/Resolved') Resolved
                li
                  a(href='/orders/status/Cancelled') Cancelled
                  | &nbsp; / &nbsp;
                  a(href='/orders/status/Shipped') Shipped
          li
            a(href='/payments') Payments
          li
            a(href='/offices') Offices
          li
            a(href='/employees') Employees
          li
            a(href='/vendors') Vendors

    div.column
      h3 API
      h4
        ul
          li
            a(href='/api/productlines') Product Lines
          li
            a(href='/api/products') Products
          li
            a(href='/api/customers') Customers
          li
            a(href='/api/orders') Orders
          li
            a(href='/api/payments') Payments
          li
            a(href='/api/offices') Offices
          li
            a(href='/api/employees') Employees
          li
            a(href='/api/vendors') Vendors

      h3
        ul
          li
            a(href='/api/ping') Ping
          li
            a(href='/api/config') Config

