extends layout

block content
  h1= title

  div
    table
      thead
        th(align='left') City
        th(align='center') Phone
      tbody
        each row, i in rows
          tr
            td(align='left')
              h4
                a(href=row.href) #{row.city}
            td
              span #{row.phone}