extends layout

block content
  h1= title

  p
    for row in rows
      p
        span #{row.customerName + " (" }
        a(href=row.href)
          span.
            #{row.orderNumber}
        span )

