extends layout

block content
  h1= title

  p
    for row in rows
      h3
        - var href = "/products/" + row.productLine;
        a(href=href)
          h4=row.productLine
      p=row.textDescription