extends layout-admin

block content
  h3= title

  div
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      thead
        th(align='left') Vendor Name
        th Number of Products
      tbody
        each vendor, i in vendors
          tr
            td(align='left')
              a(href=vendor.href) #{vendor.productVendor}
            td
              span #{vendor.productCount}